section.about-section
  .wrapper
    .about-section__container
      .about-section__sub-title.font-w-semi-bold.font-s-32.text-up
        | Почему клиенты
      h2.about-section__title.font-w-semi-bold.font-s-55.text-up
        | нас выбирают
      .about-section__text-1.font-s-18
        | Мы имеем собственный офис во Владивостоке и два офиса в Китае.
      .about-section__text-2.font-s-18.font-w-bold
        img.about-section__text-icon(src="images/about-section-text-icon.png" loading="lazy" width="183" height="176" alt="icon")
        | Наша основная цель — это популяризация автомобилей из Китая, 
        br.no-br
        | но также мы занимаемся продажей машин из Японии и Кореи.
      .about-section__text-3.font-s-18
        | Мы предлагаем клиентам максимально прозрачные условия 
        br.no-br
        | и самые выгодные цены на рынке
      img.about-section__img(src="images/about-section-img.png" loading="lazy" width="1422" height="646" alt="image")
  .about-section__wrapper
    .about-section__block
      .about-section__block-ear-left
      .about-section__block-ear-right
      img.about-section__block-icon(src="images/about-section-block-icon.png" loading="lazy" width="182" height="188" alt="icon")
      .about-section__block-title.font-w-semi-bold.font-s-32.text-up Наши конкурентные преимущества
      .swiper-bullet
        .about-section__cards.swiper-wrapper
          .about-section__card-wrapper.swiper-slide
            .about-section__card
              .font-s-16
                span.font-w-bold Гарантируем 
                | прозрачную 
                br.no-br
                | и безопасную сделку
              img.about-section__card-icon(src="images/about-section-card-icon.png" loading="lazy" width="86" height="86" alt="icon")
          .about-section__card-wrapper.swiper-slide
            .about-section__card
              .font-s-16
                span.font-w-bold Производим 
                | комплексную 
                br.no-br
                | проверку автомобиля
              img.about-section__card-icon(src="images/about-section-card-icon.png" loading="lazy" width="86" height="86" alt="icon")
          .about-section__card-wrapper.swiper-slide
            .about-section__card
              .font-s-16
                span.font-w-bold Занимаемся 
                | оформлением 
                br.no-br
                | всей документации
              img.about-section__card-icon(src="images/about-section-card-icon.png" loading="lazy" width="86" height="86" alt="icon")
          .about-section__card-wrapper.swiper-slide
            .about-section__card
              .font-s-16
                span.font-w-bold Производим 
                | комплексную 
                br.no-br
                | проверку автомобиля
              img.about-section__card-icon(src="images/about-section-card-icon.png" loading="lazy" width="86" height="86" alt="icon")
        .bullet-pagination
  .wrapper
    .about-section__bottom
      .about-section__bottom-title.font-w-semi-bold.font-s-32.text-up.text-center Узнайте больше о франшизе  «SNCARS»
      img.about-section__arrow(src="images/finances-section-arrow.png" loading="lazy" width="97" height="62" alt="arrow")
      .font-s-20.text-center Получите подробную презентацию бизнеса
      form.about-section__form(data-feedback-form)
        input(type="text" name="honeyfield" class="honeypot" style="display:none")
        input.input.input--grey(type="text" name="name" autocomplete="off" placeholder="Имя")
        input.input.input--grey(type="tel" name="phone" autocomplete="off" data-inputmask="'mask': '+7 (999) 999 9999'" placeholder="Телефон")
        button.btn(type="submit") ПОЛУЧИТЬ
