section.details-section
  .wrapper
    .details-section__container
      h2.details-section__title.font-w-semi-bold.font-s-45.text-up
        span.color-sky ПОГРУЗИТЕСЬ 
        | В РАБОТУ БИЗНЕСА
      .details-section__sub-title.font-s-20
        | Запишитесь на тест-драйв франшизы, где мы расскажем вам:
      .details-section__box
        .swiper-bullet
          .details-section__cards.swiper-wrapper
            .details-section__card.swiper-slide
              img.details-section__card-icon(src="images/details-section-card-icon.svg" loading="lazy" width="30" height="30" alt="icon")
              .font-s-20
                | Какие автомобили пользуются 
                br.no-br
                | наибольшим спросом
            .details-section__card.swiper-slide
              img.details-section__card-icon(src="images/details-section-card-icon.svg" loading="lazy" width="30" height="30" alt="icon")
              .font-s-20
                | Кто ваша целевая аудитория и как ее 
                br.no-br
                | привлечь
            .details-section__card.swiper-slide
              img.details-section__card-icon(src="images/details-section-card-icon.svg" loading="lazy" width="30" height="30" alt="icon")
              .font-s-20
                | Из каких процессов состоит 
                br.no-br
                | ежедневная работа компании
            .details-section__card.swiper-slide
              img.details-section__card-icon(src="images/details-section-card-icon.svg" loading="lazy" width="30" height="30" alt="icon")
              .font-s-20
                | Как легко выделиться на конкурентном 
                br.no-br
                | рынке
            .details-section__card.swiper-slide
              img.details-section__card-icon(src="images/details-section-card-icon.svg" loading="lazy" width="30" height="30" alt="icon")
              .font-s-20
                | Как быстро окупить вложения 
                br
                | и выйти на прибыль
          .bullet-pagination
      img.details-section__points-icon(src="images/details-section-points-icon.png" loading="lazy" width="60" height="796" alt="image")
      img.details-section__img(src="images/details-section-img.png" loading="lazy" width="1548" height="914" alt="image")
