footer.footer
  .wrapper
    .footer__container
      .footer__brand-block
        img.footer__logo(src="images/logo-header.png" loading="lazy" width="264" height="98" alt="logo")
        .footer__brand.font-s-14
          span.color-sky Франшиза 
          | компании 
          br
          | по продаже автомобилей
      a.footer__privacy.font-s-16(href="#" data-remodal-target="privacy").agree-privacy политика конфиденциальности
      .footer__connection
        a(href="tel:+79999999999")
          img.footer__connection-icon(src="images/connection-icon.svg" loading="lazy" width="32" height="32" alt="icon")
        include ../components/phone-number.pug
    //- .header__call-me.btn.btn--call-me(data-remodal-target="modal-form-call-me") Обратный звонок
