section.reasons-section
  .wrapper
    .reasons-section__container
      img.reasons-section__img-why(src="images/reasons-section-img-why.png" loading="lazy" width="1078" height="325" alt="image")
      .reasons-section__title
        img.reasons-section__title-img(src="images/reasons-section-title-img.png" loading="lazy" width="360" height="134" alt="image")
        h2.font-w-semi-bold.font-s-45.text-up ПОЧЕМУ МЫ
      .reasons-section__cards-wrapper
        .swiper-bullet
          .reasons-section__cards.swiper-wrapper
            .reasons-section__card-1.swiper-slide
              .reasons-section__card-1-title.font-w-semi-bold.font-s-24.text-up
                span.color-sky Высокий 
                | спрос
              .font-s-18
                | Автомобили из Китая становятся 
                br.no-br
                | все более востребованными и 
                br.no-br
                | набирают большую популярность 
                br.no-br
                | в России
            .reasons-section__card-2.swiper-slide
              img.reasons-section__card-2-icon(src="images/reasons-section-card-2-icon.png" loading="lazy" width="475" height="282" alt="image")
              .reasons-section__card-2-title.font-w-semi-bold.font-s-24.text-up
                span.color-sky Минимальные 
                | вложениЯ
              .font-s-18
                | Для запуска компании вам не потребуется склад, 
                br.no-br
                | помещение и оборудование, все что вам нужно: 
                br.no-br
                | офис и сильная команда
            .reasons-section__card-3.swiper-slide
              img.reasons-section__card-3-icon(src="images/reasons-section-card-3-icon.png" loading="lazy" width="458" height="272" alt="image")
              .reasons-section__card-3-title.font-w-semi-bold.font-s-24.text-up
                span.color-sky Понятная 
                | схема 
                br.no-br
                | работы
              .font-s-18
                | Вы будете заниматься продажей 
                br.no-br
                | услуг компании, передавать 
                br.no-br
                | заявку в Головной офис и 
                br.no-br
                | получать за это прибыль
            .reasons-section__card-4.swiper-slide
              .reasons-section__card-4-title.font-w-semi-bold.font-s-24.text-up
                span.color-sky Безопасный 
                br.no-br
                | старт
              .font-s-18
                | Мы передадим вам бизнес-
                br.no-br
                | модель, используя которую 
                br.no-br
                | вы минимизируете свои риски 
                br.no-br
                | и начнете зарабатывать 
                br.no-br
                | сразу после открытия
          .bullet-pagination
      img.reasons-section__img(src="images/reasons-section-img.png" loading="lazy" width="1202" height="1446" alt="image")
