section.start-section
  .wrapper
    .start-section__container
      h2.start-section__title.font-w-semi-bold.font-s-45.text-up
        | Как 
        span.color-sky мы поможем вам 
        | на старте?
      .swiper-bullet
        .start-section__cards.swiper-wrapper
          .start-section__card.swiper-slide
            img.start-section__card-img(src="images/start-section-card-img-1.png" loading="lazy" width="360" height="400" alt="image")
            .start-section__card-title.font-w-semi-bold.font-s-32.text-up /01
            .font-s-20
              | Проведем обучение для вас 
              br
              | и вашей команды
          .start-section__card.swiper-slide
            img.start-section__card-img(src="images/start-section-card-img-2.png" loading="lazy" width="360" height="400" alt="image")
            .start-section__card-title.font-w-semi-bold.font-s-32.text-up /02
            .font-s-20
              | Предоставим готовую 
              br
              | клиентскую базу
          .start-section__card.swiper-slide
            img.start-section__card-img(src="images/start-section-card-img-3.png" loading="lazy" width="360" height="400" alt="image")
            .start-section__card-title.font-w-semi-bold.font-s-32.text-up /03
            .font-s-20
              | Поможем собрать сильную 
              br
              | команду сотрудников
          .start-section__card.swiper-slide
            img.start-section__card-img(src="images/start-section-card-img-4.png" loading="lazy" width="360" height="400" alt="image")
            .start-section__card-title.font-w-semi-bold.font-s-32.text-up /04
            .font-s-20
              | Поделимся эффективными 
              br
              | методами работы с клиентами
          .start-section__card.swiper-slide
            img.start-section__card-img(src="images/start-section-card-img-5.png" loading="lazy" width="360" height="400" alt="image")
            .start-section__card-title.font-w-semi-bold.font-s-32.text-up /05
            .font-s-20
              | Предоставим готовый 
              br
              | перечень ассортимента товаров
          .start-section__card.swiper-slide
            img.start-section__card-img(src="images/start-section-card-img-6.png" loading="lazy" width="360" height="400" alt="image")
            .start-section__card-title.font-w-semi-bold.font-s-32.text-up /06
            .font-s-20
              | Передадим фирменные 
              br
              | рекламные материалы
          .start-section__card.swiper-slide
            img.start-section__card-img(src="images/start-section-card-img-7.png" loading="lazy" width="360" height="400" alt="image")
            .start-section__card-title.font-w-semi-bold.font-s-32.text-up /07
            .font-s-20
              | Подключим к общему 
              br
              | программному обеспечению
          .start-section__card.swiper-slide
            img.start-section__card-img(src="images/start-section-card-img-8.png" loading="lazy" width="360" height="400" alt="image")
            .start-section__card-title.font-w-semi-bold.font-s-32.text-up /08
            .font-s-20
              | Добавим в закрытое
              br
              | сообщество партнеров сети
        .bullet-pagination
      .start-section__bottom-title.font-w-semi-bold.font-s-32.text-up
        span.color-sea Узнайте больше 
        | о работе с нами
      img.start-section__arrow(src="images/finances-section-arrow.png" loading="lazy" width="97" height="62" alt="arrow")
      .start-section__bottom-text.font-s-20
        span.color-sky Скачайте договор, 
        | в котором описаны 
        br.no-br
        | наши обязанности и все условия сотрудничества
      button.btn.start-section__btn(data-remodal-target="modal-form-agreement") СКАЧАТЬ ДОГОВОР
