.footer
  background-color #222222

  &__container
    display: flex
    align-items: center
    flex-direction: column
    gap: 10px
    padding 15px 0
    +above($breakpoints.sm)
      flex-direction: row
      justify-content space-between
      padding 25px 0 25px 0
    +above($breakpoints.md)
      padding 30px 0 30px 0
    +above($breakpoints.xxl)
      padding 38px 0 37px 0

  &__brand-block
    +above($breakpoints.sm)
      display: flex
      align-items: center
      gap: 10px
    +above($breakpoints.md)
      gap: 12px
    +above($breakpoints.xxl)
      gap: 14px

  &__logo
    width 132px
    height: auto
    +above($breakpoints.sm)
      width 110px
    +above($breakpoints.md)
      width 120px
    +above($breakpoints.xxl)
      width 132px

  &__brand
    display: none
    +above($breakpoints.sm)
      color: #fff
      display: block

  &__privacy
    cursor pointer
    text-decoration: underline
    color: #919191

  &__connection
    display: flex
    align-items: center
    gap: 5px;
    width: 150px;
    height: 30px;
    background-color: #fff;
    color: #000;
    border-radius: 30px;
    padding-left: 5px;
    +above($breakpoints.sm)
      gap: 10px;
      width: 185px;
      height: 39px;
      padding-left 10px
    +above($breakpoints.md)
      gap: 12px;
      width: 241px;
      height: 50px;
    +above($breakpoints.xxl)
      padding-left 15px
      gap: 15px
      width 280px
      height: 56px

  &__connection-icon
    width 18px
    height: 18px
    +above($breakpoints.sm)
      width 24px
      height: 24px
    +above($breakpoints.md)
      width 28px
      height: 28px
    +above($breakpoints.xxl)
      width 32px
      height: 32px
